<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    {% load static %}
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'js/map_scripts.js' %}"></script>

    <script>
        L_NO_TOUCH = false;
        L_DISABLE_3D = false;
    </script>

    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>

    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>
        #map_fa3b8c373bc1a77a5c33caa3e56a20e6 {
            position: relative;
            width: 100.0%;
            height: 100.0%;
            left: 0.0%;
            top: 0.0%;
        }
    </style>
        
</head>
<body>    

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin: 0px;">
        <div class="container">
            <a class="navbar-brand" href="/">100대 명산 정보</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div style="float: right;">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link active"  aria-current="page" href="#">Map</a></li>
                        <li class="nav-item"><a class="nav-link" href="/list/">Information</a></li>
                        <li class="nav-item"><a class="nav-link" href="/recommend/">Recommendation</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>


    <div class="folium-map" id="map_fa3b8c373bc1a77a5c33caa3e56a20e6" ></div>


    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand w-100" id="mt_name_inf">날씨정보</a>
            </div>
        </nav>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">

        <div class="card" style="width: 100%;">
          <div class="card-body">
            <div class="text-center">
                <h5 class="card-title" style="font-size: 20px; font-weight: bold;">현 재 날 씨</h5>
            </div>
            <div class="text-center">
                <img id='nowWeather_img' alt="nowWeather" class="card-image" style="height: 150px; align: center;">
            </div>
            <p class="card-text text-center">
                {% if vo.sun_stuffs.nowTemp == '-' %}
                    <div class="card">
                      <div class="card-body text-center">
                        현재 날씨 정보를 제공하지 않는 지역입니다.
                      </div>
                    </div>

                {% else %}
                    <img src="../static/assets/img/weather/icon/temperature.png" class="weather-icon"><span id="nowTemp"></span><br>
                    <img src="../static/assets/img/weather/icon/sunrise_color.png" class="weather-icon"><span id="sunrise"></span><br>
                    <img src="../static/assets/img/weather/icon/sunset_color.png" class="weather-icon"><span id="sunset"/><br>
                {% endif %}
            </p>

            <div>
                <table class="table table-sm table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>날짜</th>
                            <th>오늘</th>
                            <th>내일</th>
                            <th>모레</th>
                        </tr>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>날씨</th>
                            <td><img id="nowWeather_img_2" alt="" class="weather-icon"></td>
                            {% if vo.sun_stuffs.nowTemp == '-' %}
                                <td><img src="../static/assets/img/weather/icon/-.png" alt="" class="weather-icon"></td>
                                <td><img src="../static/assets/img/weather/icon/-.png" alt="" class="weather-icon"></td>
                            {% else %}
                                <td><img id="tommorow_weather_img" alt="" class="weather-icon"></td>
                                <td><img id="after_tommorow_weather_img" alt="" class="weather-icon"></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>기온</th>
                            <td id="tw_temp"></td>
                            <td id="tm_temp"></td>
                            <td id="atm_temp"></td>
                        </tr>
                        <tr>
                            <th>습도</th>
                            <td id="tw_humi"></td>
                            <td id="tm_humi"></td>
                            <td id="atm_humi"></td>
                        </tr>
                        <tr>
                            <th>풍속</th>
                            <td id="tw_wspd"></td>
                            <td id="tm_wspd"></td>
                            <td id="atm_wspd"></td>

                        </tr>
                        <tr>
                            <th>강우확률</th>
                            <td id="tw_rainp"></td>
                            <td id="tm_rainp"></td>
                            <td id="atm_rainp"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="text-center">
              <img src="{% static 'assets/img/weather/mountaineering.png' %}" style="width: 30px;">
              <a id="mt_detail" class="btn btn-outline-dark btn-sm">상세 정보 페이지</a>
            </div>
          </div>
        </div>


      </div>
    </div>

    <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" id="temp_btn" style="display:none;">버튼</button>

</body>

<script>
    var map_2 = L.map(
        "map_fa3b8c373bc1a77a5c33caa3e56a20e6",
        {
            center: [{{ vo.dto.lat }}, {{ vo.dto.lot }}],
            crs: L.CRS.EPSG3857,
            zoom: 13,
            zoomControl: true,
            preferCanvas: false,
        }
    );


    var tile_layer_45cc62c46f7ff8e3d0fd1d41c0fd873b = L.tileLayer(
        "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
    ).addTo(map_2);



    {% for mt in mountain %}
        var marker0_{{ mt.id }} = L.marker(
            [{{ mt.lat }}, {{ mt.lot }}], {}
        ).addTo(map_2);


        var icon{{ mt.id }} = L.AwesomeMarkers.icon(
            {"extraClasses": "fa-rotate-0", "icon": "flag", "iconColor": "white", "markerColor": "darkgreen", "prefix": "glyphicon"}
        );

        marker0_{{ mt.id }}.setIcon(icon{{ mt.id }});

        marker0_{{ mt.id }}.bindTooltip(
            `<div>{{ mt.name }}</div>`, {"sticky": true}
        );

        marker0_{{ mt.id }}.addEventListener('click', function(event){
            $.ajax({
                url: "nifos/{{ mt.id }}",
                dataType: 'json',
                success: function(msg){
                    let nowWeather = msg.nowWeather
                    let nowTemp = msg.nowTemp
                    let sunriseTime = msg.sunriseTime
                    let sunsetTime = msg.sunsetTime
                    $('#nowWeather_img').attr('src', `../static/assets/img/weather/icon/${nowWeather}.png`);
                    $('#nowTemp').text(`현재 기온 : ${nowTemp}℃`);
                    $('#sunrise').text(`일출시간 : ${sunriseTime}`);
                    $('#sunset').text('일몰시간 : ' + sunsetTime);

                    let today_weather = msg.today_weather
                    let tommorow_weather = msg.tommorow_weather
                    let after_tommorow_weather = msg.after_tommorow_weather
                    $('#nowWeather_img_2').attr('src', `../static/assets/img/weather/icon/${today_weather['wcond']}.png`);
                    $('#tommorow_weather_img').attr('src', `../static/assets/img/weather/icon/${tommorow_weather['wcond']}.png`);
                    $('#after_tommorow_weather_img').attr('src', `../static/assets/img/weather/icon/${after_tommorow_weather['wcond']}.png`);
                    $('#tw_temp').text(today_weather['temp']+'℃');
                    $('#tm_temp').text(tommorow_weather['temp']+'℃');
                    $('#atm_temp').text(after_tommorow_weather['temp']+'℃');
                    $('#tw_humi').text(today_weather['humi']+'%');
                    $('#tm_humi').text(tommorow_weather['humi']+'%');
                    $('#atm_humi').text(after_tommorow_weather['humi']+'%');
                    $('#tw_wspd').text(today_weather['wspd']+'m/s');
                    $('#tm_wspd').text(tommorow_weather['wspd']+'m/s');
                    $('#atm_wspd').text(after_tommorow_weather['wspd']+'m/s');
                    $('#tw_rainp').text(today_weather['rainp']+'%');
                    $('#tm_rainp').text(tommorow_weather['rainp']+'%');
                    $('#atm_rainp').text(after_tommorow_weather['rainp']+'%');
                },
                error: function(){
                    alert('통신 실패');
                    $('#nowWeather_img').attr('src', `../static/assets/img/weather/icon/-.png`);
                    $('#nowWeather_img_2').attr('src', `../static/assets/img/weather/icon/-.png`);
                    $('#tommorow_weather_img').attr('src', `../static/assets/img/weather/icon/-.png`);
                    $('#after_tommorow_weather_img').attr('src', `../static/assets/img/weather/icon/-.png`);

                }
            });

            $('#mt_name_inf').text('{{ mt.name }} 날씨정보');
            $('#mt_detail').attr('href', `/detail/{{ mt.id }}`)

            document.getElementById('temp_btn').click();

        });

    {% endfor %}


</script>